# Node.js related
**/node_modules/
yarn-error.log
*.log

# MacOS related
.DS_Store

# Python related
__pycache__/
*.py[cod]
*.egg-info/
*.env
venv/
.env

# IDE related
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Compiled files and binaries
*.pyc
*.pyo
*.pyd

# Ignore unnecessary build files
build/
dist/
.cache/

# Ignore the word2vec folder inside backend
backend/word2vec/
